<div class="vehicle-detail">
  <div class="vehicle-image">
    <img src="<%= vehicle.inv_image %>" alt="<%= vehicle.inv_make %> <%= vehicle.inv_model %>">
  </div>
  
  <div class="vehicle-info">
    <h1><%= vehicle.inv_make %> <%= vehicle.inv_model %></h1>
    <div class="highlights">
      <p><strong>Year:</strong> <%= vehicle.inv_year %></p>
      <p><strong>Price:</strong> $<%= parseInt(vehicle.inv_price).toLocaleString() %></p>
      <p><strong>Mileage:</strong> <%= parseInt(vehicle.inv_miles).toLocaleString() %> miles</p>
    </div>
    
    <div class="description">
      <h2>Description</h2>
      <p><%= vehicle.inv_description %></p>
    </div>
  </div>
</div>